[core]
#	autocrlf = input
[user]
	name = 
	email = 
[alias]
	ci = commit
	co = checkout
	st = status
	cl = clone
	b = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	cp = cherry-pick
[apply]
	whitespace = strip
[diff]
	color = auto
[status]
	color = auto
[github]
	user = 
	token = 
[core]
	excludesfile = ~/.gitignore
