double_buffer yes
max_user_text 124000
max_text_width 0

own_window  yes
own_window_type            desktop
own_window_transparent     no
own_window_hints undecorated,skip_taskbar,skip_pager,sticky

gap_x 0
gap_y 0
alignment top_middle
minimum_size 1269 5

update_interval 2
default_color  c7c7c7
own_window_colour 101010
draw_shades no
use_spacer none

short_units yes

use_xft yes
xftfont Terminus:pixelsize=12


lua_load ~/.config/conky/colorise.lua
# Yes, the following is one line
#${font Terminus:bold:pixelsize=12}Up:$font ${uptime_short}
TEXT
${kernel} | ${font Terminus:bold:pixelsize=12}Load:${font} ${font Terminus:bold:pixelsize=12}${lua_parse conky_colorise_cpu 0} ${lua_parse conky_colorise_cpu 1} ${lua_parse conky_colorise_cpu 2} ${lua_parse conky_colorise_cpu 3} @ ${lua_parse weight_frequency 4}$font${voffset 0} | ${font Terminus:bold:pixelsize=12}Mem:${font} ${lua_parse conky_colorise_mem} | ${font Terminus:bold:pixelsize=12}Net:${font} ${lua_parse conky_format_speeds eth0} |  ${font Terminus:bold:pixelsize=12}/:${font} ${fs_free /} - ${font Terminus:bold:pixelsize=12}/home:${font} ${fs_free /home} ${alignr}${font Terminus:bold:pixelsize=12}Pacman:${font} ${execpi 1000 /home/malomalo/.config/conky/pacupdate.pl} | ${font Terminus:bold:pixelsize=12}Vol:${font} ${exec amixer get Master| perl -ne 'if($_ =~ m/\[on\]/){ @l = split(/\s+/,$_); $l[4] =~ s/[\[\]]//g; print $l[4];}'} | ${time  %I:%M %b %d} 
